th {
  background: #bfedcc !important;
  text-align: center !important;
}

.modal-add-intake {
  max-width: 500px;
  width: 100% !important;
}

input.input-add,
#modal-add-orders-intake
  > div:nth-child(2)
  > div
  > div.ant-col.ant-form-item-control
  > div
  > div
  > span
  > span
  > input {
  padding: 0.4rem;
  background: #ffffff;
  border-color: #4d4e4e;
  border-radius: 9.30349px;
}

#modalAdd > div > div > div > div.ant-col.ant-form-item-control > div > div > span > span > input {
  border-color: #2bc155 !important;
  border-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0.5rem;
}
#modalAdd
  > div
  > div
  > div
  > div.ant-col.ant-form-item-control
  > div
  > div
  > span
  > span
  > span
  > button {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 40px;
  border-color: #2bc155 !important;
}

.ant-pagination-item-active a {
  background-color: #2bc155;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  width: 100% !important;
}

.button__add {
  background: #2bc155;
  border-radius: 9.30349px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  height: 40px;
  width: 230px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container-buttons {
  display: flex;
}
.container-buttons label {
  position: relative;
  height: 40px;
  margin-right: 10px;
  background: #2bc155;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-buttons input {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
}

.container-btns button {
  height: 40px;
  padding: 0 10px;
}
