#root
  > div
  > div
  > div
  > div
  > div
  > div.ant-table-wrapper
  > div
  > div
  > div
  > div
  > div.ant-table-header
  > table
  > thead
  > tr
  > th {
  text-align: center;
  background: #bfedcc;
}

#root
  > div
  > div
  > div
  > div
  > div
  > div.ant-table-wrapper
  > div
  > div
  > div
  > div
  > div.ant-table-body
  > table
  > tbody
  > tr {
  text-align: center;
}

#root
  > div
  > div
  > div
  > div
  > div
  > div.ant-table-wrapper
  > div
  > div
  > div
  > div
  > div.ant-table-body
  > table
  > tbody
  > tr
  > td:nth-child(odd) {
  background-color: #eeeeee;
}

#root
  > div
  > div
  > div
  > div
  > div
  > div.ant-table-wrapper
  > div
  > div
  > div
  > div
  > div.ant-table-body
  > table
  > tbody
  > tr
  > td
  > span
  > a {
  color: #2bc155;
}

.ant-pagination-item-active a {
  background-color: #2bc155;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
}
