th {
  background: #bfedcc !important;
}
th.ant-table-column-sort {
  background: #bfedcc !important;
}

div.ant-table-body > table > tbody > tr {
  text-align: center;
}

table > tbody > tr > td:nth-child(odd) {
  background-color: #eeeeee;
}

div.ant-table-body > table > tbody > tr > td > span > a {
  color: #2bc155;
}

.ant-pagination-item-active a {
  background-color: #2bc155;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
}

.btn-edit {
  display: flex;
  justify-content: center;
  align-items: center;
}
