th {
  background: #bfedcc !important;
}

.ant-table-body > table > tbody > tr > td > span > a.ant-typography {
  color: #2bc155;
}

.ant-table-body > table > tbody > tr > td > span > a {
  color: black;
}

.ant-input-number-focused,
.ant-input-number:focus {
  border-color: #2bc155 !important;
}

.modal-add-buy {
  max-width: 1000px;
  width: 100% !important;
}

input.input-add,
#modal-add-orders-buy
  > div:nth-child(2)
  > div
  > div.ant-col.ant-form-item-control
  > div
  > div
  > span
  > span
  > input {
  padding: 0.4rem;
  background: #ffffff;
  border-color: #4d4e4e;
  border-radius: 9.30349px;
}

.ant-pagination-item-active a {
  background-color: #2bc155;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  width: 100% !important;
}

.btn-edit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-edit img {
  width: 20px;
  height: auto;
}
