#root
  > div
  > div
  > div
  > div
  > div.ant-table-wrapper
  > div
  > div
  > div
  > div
  > div
  > table
  > thead
  > tr
  > th {
  background: #bfedcc;
  text-align: center;
}

#root
  > div
  > div
  > div
  > div
  > div.ant-table-wrapper
  > div
  > div
  > div
  > div
  > div
  > table
  > tbody
  > tr
  > td:nth-child(odd) {
  background-color: #eeeeee;
}

#root
  > div
  > div
  > div
  > div
  > div.ant-table-wrapper
  > div
  > div
  > div
  > div
  > div
  > table
  > tbody
  > tr
  > td {
  text-align: center;
}

.ant-pagination-item-active a {
  background-color: #2bc155;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.ant-pagination-item a {
  color: #2bc155;
}
.ant-pagination-item a:hover {
  color: #2bc155;
}

.ant-pagination-item-active a {
  color: #ffffff;
}
.ant-pagination-item-active a:hover {
  color: #ffffff;
}

.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-prev .ant-pagination-item-link {
  border-color: #2bc155;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2bc155;
}

.ant-pagination-next .ant-pagination-item-link:hover,
.ant-pagination-prev .ant-pagination-item-link:hover {
  border-color: #2bc155;
  color: #2bc155;
}

.modal-add-orders {
  max-width: 700px;
  width: 100% !important;
}
