#root
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > table
  > tbody
  > tr
  > td:nth-child(odd) {
  background-color: #eeeeee;
}

#root > div > div > div > div > div > div > div > div > div > div > div > table > thead > tr > th {
  background: #bfedcc;
}

#root
  > div
  > div
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div
  > ul
  > li.ant-pagination-item.ant-pagination-item-1.ant-pagination-item-active,
#root
  > div
  > div
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div
  > ul
  > li.ant-pagination-item.ant-pagination-item-2.ant-pagination-item-active {
  border-color: #2bc155;
  background-color: #2bc155;
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

#root
  > div
  > div
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div
  > ul
  > li.ant-pagination-item.ant-pagination-item.ant-pagination-item-active
  > a {
  color: #ffffff;
}

li.ant-pagination-item.ant-pagination-item {
  border-color: #2bc155;

  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

#root
  > div
  > div
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div
  > ul
  > li.ant-pagination-item.ant-pagination-item
  > a {
  color: #2bc155;
}

#root
  > div
  > div
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div
  > ul
  > li.ant-pagination-next
  > button,
#root
  > div
  > div
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div
  > ul
  > li.ant-pagination-prev
  > button {
  border-color: #2bc155;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

#root
  > div
  > div
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div
  > ul
  > li.ant-pagination-next
  > button
  > span
  > svg,
#root
  > div
  > div
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div
  > ul
  > li.ant-pagination-prev
  > button
  > span
  > svg {
  fill: #2bc155;
}

#root
  > div
  > div
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > table
  > thead
  > tr
  > th {
  text-align: center;
}

#root
  > div
  > div
  > div
  > div:nth-child(4)
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > table
  > tbody
  > tr {
  text-align: center;
}

.ant-input:hover {
  border-color: #2bc155;
  border-right-width: 1px;
}

.ant-input-focused,
.ant-input:focus {
  border-color: #2bc155;
  border-right-width: 1px;
}

.ant-btn-primary {
  color: #fff;
  border-color: #2bc155;
  background: #2bc155;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.ant-btn-primary:hover {
  border-color: #2bc155;
  background: #2bc155;
}

.ant-btn-sm {
  border-color: #2bc155;
}

.ant-btn-link {
  color: #2bc155;
}

.ant-btn-sm:hover {
  border-color: #2bc155;
  color: #2bc155;
}

.ant-btn-sm:focus {
  border-color: #2bc155;
  color: #2bc155;
}

#root
  > div
  > div
  > div
  > div:nth-child(4)
  > div
  > div.ant-table-wrapper
  > div
  > div
  > div
  > div
  > div
  > table
  > thead
  > tr
  > th.ant-table-cell.ant-table-column-sort.ant-table-column-has-sorters
  > div
  > span.ant-table-column-title
  > div
  > span.ant-table-column-sorter.ant-table-column-sorter-full
  > span
  > span.anticon.anticon-caret-down.ant-table-column-sorter-down.active
  > svg {
  fill: #2bc155;
}

#root
  > div
  > div
  > div
  > div:nth-child(4)
  > div
  > div.ant-table-wrapper
  > div
  > div
  > div
  > div
  > div
  > table
  > thead
  > tr
  > th.ant-table-cell.ant-table-column-sort.ant-table-column-has-sorters
  > div
  > span.ant-table-column-title
  > div
  > span.ant-table-column-sorter.ant-table-column-sorter-full
  > span
  > span.anticon.anticon-caret-up.ant-table-column-sorter-up.active
  > svg {
  fill: #2bc155;
}

.ant-table-filter-trigger {
  color: #2bc155;
}

.ant-table-filter-trigger:hover {
  background: #2bc155;
  color: #ffffff;
}
