td:nth-child(odd) {
  background-color: #eeeeee !important;
}

th {
  background: #bfedcc !important;
}

li.ant-pagination-item.ant-pagination-item.ant-pagination-item-active > a {
  color: #ffffff;
}

li.ant-pagination-item.ant-pagination-item > a {
  color: #2bc155;
}

th {
  text-align: center;
  font-size: 12px !important;
}

tr {
  text-align: center;
}

.ant-input:hover {
  border-color: #2bc155;
  border-right-width: 1px;
}

.ant-input-focused,
.ant-input:focus {
  border-color: #2bc155;
  border-right-width: 1px;
}

button.ant-btn.ant-btn-primary.ant-btn-sm {
  color: #fff;
  border-color: #2bc155;
  background: #2bc155;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

button.ant-btn.ant-btn-primary.ant-btn-sm:hover {
  border-color: #2bc155;
  background: #2bc155;
  color: #fff;
}

.ant-btn-primary:focus {
  border-color: #2bc155;
  background: #2bc155;
  color: #fff;
}

.ant-btn-sm {
  border-color: #2bc155;
}

.ant-btn-link {
  color: #2bc155;
}

.ant-btn-sm:hover {
  border-color: #2bc155;
  color: #2bc155;
}

.ant-btn-sm:focus {
  border-color: #2bc155;
  color: #2bc155;
}

span.anticon.anticon-caret-down.ant-table-column-sorter-down.active > svg {
  fill: #2bc155;
}

span.anticon.anticon-caret-up.ant-table-column-sorter-up.active > svg {
  fill: #2bc155;
}

.ant-table-filter-trigger:hover {
  background: #2bc155;
  color: #ffffff;
}

span.ant-dropdown-trigger.ant-table-filter-trigger.active > span > svg:hover {
  fill: #ffffff !important;
}

.ant-pagination-item-active a {
  background-color: #2bc155;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  width: 100% !important;
}

.btn-edit {
  display: flex;
  justify-content: center;
  align-items: center;
}
